.row
  .col-xs-12
    %a{href: company_path(company)}
      = image_tag(company.logo.thumb.url, class: 'img-thumbnail')
      .title 
        = company.title
      .description
        = company.description
      .phones
        - company.phones[0..1].each do |phone|
          %a.phone{href: 'tel:'+phone}
            = number_to_phone(phone)