.row
  .col-xs-12
    = link_to image_tag(company.logo.thumb.url, class: 'img-thumbnail'), company_path(company)
    .title
      = link_to company.title, company_path(company)
    %p.description
      = company.description
    .phones
      - company.phones.each do |phone|
        %a{href: 'tel:'+phone}
          %i.glyphicon.glyphicon-earphone 
          = phone