/*
*= require 'bootstrap'
*= require_tree .
*= require_self
*/

body, .services, .companies, .company {
  min-height: 400px;
  background: #222222;
  color: #fff;
}

.glyphicon {
  color: #F3C604;
}

.glyphicon:hover {
  color: orange;
}

.navbar-fixed-top {
  margin-bottom: 0;

}

.companies, .company {
  margin-top: 70px;
}

.gradient {
  border: 1px solid #333;
  background-image: -moz-linear-gradient(top, #323232, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#323232), to(#222222));
  background-image: -webkit-linear-gradient(top, #323232, #222222);
  background-image: -o-linear-gradient(top, #323232, #222222);
  background-image: linear-gradient(to bottom, #323232, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#323232', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar {
  .glyphicon {
    font-size: 2.5em;
  }
}


.img-thumbnail {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
  padding: 0;
  border: none;
}


a.call {
  display: block;
  width: 55px;
  height: 55px;
  float: right;
  background-image: image-url('call_normal@2x.png');
  &:hover {
    background-image: image-url('call_hover@2x.png');
  }
}

a.sms {
  display: block;
  width: 55px;
  height: 55px;
  float: left;
  background-image: image-url('sms_normal@2x.png');
  &:hover {
    background-image: image-url('sms_hover@2x.png');
  }
}

button.feedback {
  font-size: 1.4em;
  padding: 15px;
  color: #FFF;
  outline: none;
  border: none;
  border-radius: 0;
  background-image: -moz-linear-gradient(top, #888888, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#333333));
  background-image: -webkit-linear-gradient(top, #888888, #333333);
  background-image: -o-linear-gradient(top, #888888, #333333);
  background-image: linear-gradient(to bottom, #888888, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#888888', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  &:hover {
    color: #FFF;
    background-image: -moz-linear-gradient(top, #999999, #333333);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#333333));
    background-image: -webkit-linear-gradient(top, #999999, #333333);
    background-image: -o-linear-gradient(top, #999999, #333333);
    background-image: linear-gradient(to bottom, #999999, #333333);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#999999', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
}