.companies {
  > .row {
    margin: 20px;
    border: 1px solid #333;
    background-image: -moz-linear-gradient(top, #323232, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#323232), to(#222222));
    background-image: -webkit-linear-gradient(top, #323232, #222222);
    background-image: -o-linear-gradient(top, #323232, #222222);
    background-image: linear-gradient(to bottom, #323232, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#323232', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    .col-xs-12 {
      padding-left: 0;
    }
  }
  .row img {
    margin: 0 10px 0 0;
    float: left;
    display: block;
  }
  a {
    color: #ccc;
    &:hover {
      color: #f3c604;
      text-decoration: none;
    }
  }
  .title {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
  }
  .description {
    color: #ccc;
    text-decoration: none;
    font-size: 0.9em;
    height: 36px;
    overflow: hidden;
  }
  .phones {
    height: 21px;
    overflow: hidden;
  }
  .phones a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    &:hover {
      color: #f3c604;
    }
  }
  a.phone {
    padding-right: 10px;
  }
}


.company {
  > .row {
    &:first-child {
      border: solid 1px #F3C604;
      padding: 0;
      .col-xs-12 {
        padding: 0
      }
    }
    margin: 0 20px;
    padding: 20px 0;
    border: 1px solid #333;
    background-image: -moz-linear-gradient(top, #323232, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#323232), to(#222222));
    background-image: -webkit-linear-gradient(top, #323232, #222222);
    background-image: -o-linear-gradient(top, #323232, #222222);
    background-image: linear-gradient(to bottom, #323232, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#323232', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
  .row img {
    float: left;
    display: block;
  }
  .title {
    color: #F3C604;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    & a {
      color: #ccc;
    }

  }
  .description {
    color: #ccc;
    h1 {
      color: white;
      font-size: 1.2em;
    }
  }
  .phone {
    font-size: 2.1em;
    color: #DDD;
    text-decoration: none;
    padding-top: 5px;
  }
  .row.description {
    background: none;
    border: none;
  }
}
