.navbar.navbar-inverse.navbar-fixed-top.gradient{role: 'navigation'}
  .container
    %a.navbar-left{href: root_url}
      .glyphicon.glyphicon-arrow-left
    %a.navbar-right{href: root_url}
      .glyphicon.glyphicon-home
.companies
  = render @companies
