.navbar.navbar-inverse.navbar-fixed-top.gradient{role: 'navigation'}
  .container
    %a.pull-left{href: root_url}
      %i.glyphicon.glyphicon-home

    %a.pull-right{href: root_url}
      %i.glyphicon.glyphicon-arrow-left

.companies
  = render @companies
